/*
 Theme Name: SoundWave
 Theme URI: http://soundwave.wizedesign.com
 Description: SoundWave is the only place where you can enjoy music & radio while you look up for available or upcoming events, information about artists, photos, videos and Dj Mixes. 
 Author: wizedesign
 Author URI:  http://wizedesign.com
 Version: 2.1.1
 Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-width, custom-menu, full-width-template, sticky-post, theme-options
 License: GNU GENERAL PUBLIC LICENSE
 
 -------------------------------------------
      01. CSS RESET
      02. MISC
      03. GENERAL
      04. LAYOUT
      05. NAVIGATION
      06. WIDGETS
      07. FOOTER & SOCIAL MEDIA
      08. PAGINATION
      09. PLAYER
      10. COMMENTS
      11. CONTACT   
      12. WORDPRESS CORE
 -------------------------------------------
 */


 /* -------------------------------------------
    01. CSS RESET
   ------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    font-size: 100%;
    font-style: inherit;
    vertical-align: baseline;
    font-family: inherit;
    outline: 0;
    border: 0;
    }

ol, ul { list-style: none }

table {
    border-collapse: separate;
    border-spacing: 0;
    }

table {
    border-collapse: separate;
    border-spacing: 0;
    }

some_nowhitespace { nowhitespace: afterproperty }

caption, th, td {
    font-weight: normal;
    text-align: left;
    }

blockquote:before, blockquote:after, q:before, q:after { content: "" }


/* -------------------------------------------
    02. MISC
   ------------------------------------------- */
   
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block; }

.hidden { display: none }

.wz-last {
    margin-bottom: 15px;
    margin-right: 15px;
    }

.clear { clear: both }

.block { display: block }

.hide { display: none }


/* -------------------------------------------
    03. GENERAL
   ------------------------------------------- */
   
body {
    color: #1d1d1b;
    font-size: 14px;
    line-height: 20px;
    background: #111;
    }

h1, h2, h3, h4, h5, h6, li {
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.25;
    word-wrap: break-word;
    color: #cccccc;
    }

h1 { font-size: 42px }

h2 { font-size: 30px }

h3 { font-size: 24px }

h4 { font-size: 18px }

h5 { font-size: 14px }

h6 { font-size: 12px }

li { font-size: 12px }

a {
    text-decoration: none;
    color: #b3b3b3;
    }

a:hover {
    text-decoration: none;
    color: #e6e6e6;
    }

a img { border: none }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: none }

strong {
    font-weight: bold;
    color: #252525;
    }

em { font-style: italic }

p, ul, ol, pre, code { margin-bottom: 10px }

p.last { margin-bottom: 0 }

ul {
    list-style-type: circle;
    list-style-position: inside;
    }

pre, code {
    font-family: monospace;
    background-color: #f5f5f5;
    border-left-width: 5px;
    border: 1px solid #efefef;
    display: block;
    padding: 10px;
    font-size: 11px;
    }

table {
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: separate;
    border-top-width: 5px;
    border: 1px solid #efefef;
    }

th {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    }

td {
    border-top: 1px solid #efefef;
    padding: 10px 15px;
    }

tr.alt { background-color: #f5f5f5 }

.title-head { margin-bottom: -5px }

.title-head h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    padding: 5px 0px 5px 0px;
    line-height: 34px;
    }

.title-page { margin-bottom: -5px }

.title-page h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    padding: 5px 0px 5px 0px;
    line-height: 34px;
    }
.title-home {
	float:left;
	margin-bottom:-5px;
}

.title-home h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
	color:#fff;
	padding:5px 0px 5px 0px;
    float:left;
	line-height:34px;
}

.single-col, #searchinput, #footer #searchinput, #comment, #author, #email, #url, #commentsText, form#contact input, span.page-of, .wp-caption, .atsng-col, .mxpage-col, .content-page-full, .content-page, .vdwdg, .evftr-date, .widgets-col, .widgets-col-player, .phwdg, .flkwdg, .vdwdg, .blogroll, .widget_meta ul, .textwidget, #recentcomments, .widget_recent_entries ul, .widget_archive ul, .tagcloud, .widget_categories ul, .widget_pages ul, .widget_nav_menu ul, .tweets_list ul, #calendar_wrap, .widget_calendar tbody>tr>td, .phsng, .adpage, .phpage, .vdpage, .adsng-col, .single-comment, .bl1page-col, .blsty2-arc, .contactpage, .content-shr, .bl1shr-col, .bl2page-col, .adshr-col, .vdshr-col, .phshr-col, .blog-home-half, .ev1page-col, .bl2shr-col, .ev1shr-col, .ev2shr-col, .ev2page-col, .ev3page { 
    background: #fff; 
	}

.ev2shr-col .ev2shr-week, .ev2page-col .ev2page-week, .ev3page .ev3page-week, .button-send#submitmail, ul.fap-my-playlist li, p.form-submit input#submit, #search-button, .evftr-date, a, #wizemenu > ul ul, .adshr-info, .vdshr-info, .phshr-info, .vdwdg-info, .adpage-info, .phpage-info, .vdpage-info, #footer-ls-col .facebook, #footer-ls-col .lastfm, #footer-ls-col .flickr, #footer-ls-col .digg, #footer-ls-col .vk, #footer-ls-col .google, #footer-ls-col .pinterest, #footer-ls-col .amazon, #footer-ls-col .mixcloud, #footer-ls-col .instagram, #footer-ls-col .tumblr, #footer-ls-col .resident, #footer-ls-col .soundcloud, #footer-ls-col .twitter, #footer-ls-col .vimeo, #footer-ls-col .beatport, #footer-ls-col .youtube, #footer-ls-col .myspace {
    transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    }
	
.widgets-col, .widgets-ads, .tweets_list, .widgets-col-player, .phwdg, .flkwdg, .vdwdg, .blogroll, .widget_meta ul , .textwidget, #recentcomments, .widget_recent_entries ul , .widget_archive ul, .tagcloud, .widget_categories ul, .widget_pages ul, .widget_nav_menu ul, #calendar_wrap, .widget_calendar tbody>tr>td  {
    margin-top:49px;
    }
	
.wz-hover .atsng-link:hover, .wz-hover .atsng-zoom:hover, .wz-hover .atpage2-link:hover, .evsng-hover-tickets a:hover, .wz-hover .adsng-link:hover, .wz-hover .adsng-zoom:hover, .wz-hover .phpage1-link:hover, .wz-hover .phpage2-link:hover, .wz-hover .vdpage1-link:hover, .wz-hover .vdpage2-link:hover, .wz-hover .atpage1-link:hover, .wz-hover .atpage1-link:hover, .wz-hover .phpage1-zoom:hover, .wz-hover .vdpage1-zoom:hover, .wz-hover .vdwdg1-zoom:hover, .wz-hover .atpage1-zoom:hover, .wz-hover .phpage2-zoom:hover, .wz-hover .vdpage2-zoom:hover, .wz-hover .vdwdg2-zoom:hover, .wz-hover .atpage2-zoom:hover, .wz-hover .adpage1-link:hover, .wz-hover .adpage1-zoom:hover, .wz-hover .adpage2-link:hover, .wz-hover .adpage2-zoom:hover, .wz-hover .bl1page-link:hover, .wz-hover .bl1page-zoom:hover, .wz-hover .evsng-link:hover, .wz-hover .evsng-zoom:hover, .wz-hover .ev2shr-zoom:hover, .wz-hover .ev2page-zoom:hover, .wz-hover .ev2shr-link:hover, .wz-hover .ev2page-link:hover, .wz-hover .ev1shr-link:hover, .wz-hover .ev1page-link:hover, .wz-hover .ev1shr-zoom:hover, .wz-hover .ev1page-zoom:hover, .ev1shr-tickets a:hover, .ev1page-tickets a:hover, .wz-hover .adpage-zoom:hover, .wz-hover .adpage-link:hover, .wz-hover .phpage-link:hover, .wz-hover .vdpage-link:hover, .wz-hover .phpage-zoom:hover, .wz-hover .vdpage-zoom:hover, .wz-hover .vdwdg-zoom:hover, .wz-hover .bl1shr-zoom:hover, .wz-hover .bl2shr-zoom:hover, .wz-hover .bl2page-zoom:hover, .wz-hover .bl1shr-link:hover, .wz-hover .bl2shr-link:hover, .wz-hover .bl2page-link:hover, .wz-hover .vdshr-zoom:hover, .wz-hover .phshr-zoom:hover, .wz-hover  .atshr-link:hover, .wz-hover .phshr-link:hover, .wz-hover .vdshr-link:hover, .wz-hover .adshr-link:hover, .wz-hover .adshr-zoom:hover, .wz-hover .vdwdg-link:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
}
	
/* -------------------------------------------
    04. LAYOUT
   ------------------------------------------- */

.wrap {
    background: url("images/bg-trans.png");
    width: 1015px;
    margin: 0px auto;
    padding: 20px 20px 20px 20px;
    margin-bottom: 50px;
    }

#header {
    width: 1015px;
    height: 100px;
    margin: 0px auto 109px auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background: url("images/bg-trans.png");
    }

.header-row {
    width: 1025px;
    margin: 0 auto 0 auto;
    }

#logo {
    float: left;
    width: 300px;
    margin-top: 0px;
    }

.content-404 h4 { color: #fff }

#content { margin-top:-7px; }

.home-width { width: 700px }

.sidebar-left { float: left }

.sidebar-right { float: right }

.home-shr {
    margin-bottom: 23px;
    display: block;
    clear: both;
    }

.home-shr.last {
	margin-bottom: 0px;
	display: block;
    clear: both;
	}

.col-right-media {
    float: right;
    margin-right: 5px;
    }
	
.contactpage {
    width: 665px;
	padding:15px 15px 0px 15px;
    }

.col-right {
	float: right;
	}
	
.content-page {   
    width: 665px;
    display: inline-block;
    padding: 15px;
    }
	
.content-page-full {   
    display: inline-block;
    padding: 15px;
	width:985px;
    }

.content-page .bl1shr-col, .content-page .ev2shr-col, .content-page .phshr-col, .content-page .adshr-col, .content-page .vdshr-col {
	padding:0px;
    }
	
.content-page .bl2shr-col, .content-page .ev1shr-col {
	padding: 15px 15px 11px 0px;
	margin-right: 15px;
	}

.content-page-full .bl1shr-col, .content-page-full .bl2shr-col, .content-page-full .ev1shr-col, .content-page-full .ev2shr-col, .content-page-full .phshr-col, .content-page-full .adshr-col, .content-page-full .vdshr-col {
	padding:0px;
    }
	
.content-page-full .bl2shr-col, .content-page-full .ev1shr-col {
	padding: 15px 15px 11px 0px;
	margin-right: 15px;
	}
	
.col-left, .col-left-home, .col-left-media { float: left }

.col-left-home p, .col-right-home p { margin-bottom:0px; }

.col-right-home { float:right; }

.col-right-single {
    float: right;
    width: 695px;
    }

.col-left-single {
    float: left;
    width: 695px;
    }

.single-col {
    margin-bottom: 5px;
    width: 665px;
    padding: 15px;
    }

.single-comment {
    width: 665px;
    padding: 15px 15px 5px 15px;
    }

.wz-media { width: 1000px }

.wz-last {
    margin-bottom: 15px;
    margin-right: 15px;
    }
	
.wz-hover .bg {
	height:100%;
	width:100%;
	text-align:center;
	}
	
.adpage, .phpage, .vdpage {
    float: left;
    width: 985px;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    }

.adpage1-col, .phpage1-col, .vdpage1-col, .atpage1-col {
    float: left;
    width: 235px;
    background: #eeeeee;
    }

.adpage2-col, .phpage2-col, .vdpage2-col, .atpage2-col {
    float: left;
    width: 318px;
    background: #eeeeee;
    }

.adshr-info, .vdshr-info, .phshr-info, .adpage-info, .phpage-info, .vdpage-info {
    background: #eee;
    padding: 5px 5px 5px 10px;
    border-bottom: 3px solid #bbbbbb;
    }

.adshr-title, .vdshr-title, .phshr-title, .adpage-title, .phpage-title, .vdpage-title {
    color: #1b1b1b;
    font-size: 15px;
    font-weight: 600;
	height:21px;
	overflow: hidden;
    }

.adshr-des, .vdshr-des, .phshr-des, .adpage-des, .phpage-des, .vdpage-des {
    color: #1d1d1b;
    margin-top: 3px;
    font-size: 13px;
	height:19px;
	overflow: hidden;
    }

.phpage1-cover, .vdpage1-cover, .atpage1-cover {
    width: 235px;
    height: 155px;
    position: relative;
    overflow: hidden;
    }

.phpage2-cover, .vdpage2-cover, .atpage2-cover {
    width: 318px;
    height: 210px;
    position: relative;
    overflow: hidden;
    }

.wz-hover .phpage1-zoom, .wz-hover .vdpage1-zoom, .wz-hover .vdwdg1-zoom, .wz-hover .atpage1-zoom {
    float: left;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 55px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    }

.wz-hover .phpage2-zoom, .wz-hover .vdpage2-zoom, .wz-hover .vdwdg2-zoom, .wz-hover .atpage2-zoom {
    float: left;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 82px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    }

p.bl1shr-user, p.bl2shr-user, p.bl1page-user, p.bl2page-user {
    background: url("images/blog-user.png") no-repeat;
    color: #1b1b1b;
    margin-right: 5px;
    padding-left: 28px;
    padding-right: 10px;
    float: left;
    line-height: 27px;
    }

p.bl1shr-date, p.bl2shr-date, p.bl1page-date, p.bl2page-date {
    background: url("images/blog-data.png") no-repeat;
    color: #1b1b1b;
    margin-right: 5px;
    padding-left: 28px;
    padding-right: 10px;
    float: left;
    line-height: 27px;
    }

p.bl1shr-comment, p.bl1page-comment, p.bl2page-comment {
    background: url("images/blog-com.png") no-repeat;
    color: #1b1b1b;
    margin-right: 5px;
    padding-left: 28px;
    padding-right: 10px;
    float: left;
    line-height: 27px;
    }

p.bl1shr-comment a, p.bl1page-comment a, p.bl2page-comment a { color: #1b1b1b }

.adshr-fix, .vdshr-fix, .phshr-fix {
    float: left;
    width: 212px;
    }
	
.adshr-col, .vdshr-col, .phshr-col {   
    margin-bottom: 5px;
    width: 665px;
    padding: 15px 15px 0px 15px;
	float:left;
    }	
	
.vdshr-cover, .phshr-cover {
    width: 212px;
    height: 140px;
    position: relative;
    overflow: hidden;
    }
	
.wz-hover .vdshr-zoom, .wz-hover .phshr-zoom {
	float:left;
	background:url("images/media-zoom.png");;
	text-decoration:none;
	margin:47px 0px 0 0px;
	margin-left:10px;
	width:45px;
	height:45px;
    }
	
/* --- blog --- */

.bl1page { width: 690px }

.bl1page-col {
    margin-bottom: 5px;
    float: left;
    width: 665px;
    padding: 15px 15px 10px 15px;
    }

.bl1page-col.last { margin-bottom: 0px }

.bl1page-cover {
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
    height: 250px;
    }

.wz-hover .bl1page-link {
    display: inline-block;
    background: url("images/blog-link.png");
    text-decoration: none;
    margin: 102px 0px 0 0px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    }

.wz-hover .bl1page-zoom {
    display: inline-block;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 102px 0px 0 0px;
    margin-left: 8px;
    width: 45px;
    height: 45px;
    }

h2.blog-title, h2.bl1page-title {
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 7px;
    margin-top: 7px;
    font-size: 22px;
    }

h2.blog-title  a, h2.bl1page-title a { color: #1b1b1b }

.bl1page-info {
    top: 5px;
    position: relative;
    margin-left: -5px;
    }

.bl1page-more a {
    top: 2px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    color: #fff;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    }
	
.bl1page-more a:hover { background:#000; }

.bl2page { width: 690px }

.bl2page-col {
    margin-bottom: 5px;
    float: left;
    width: 665px;
    padding: 15px 15px 5px 15px;
    }

.bl2page-col.last { margin-bottom: 0px }

.bl1shr-cover, .bl2page-cover {
    margin-right: 15px;
    float: left;
    width: 250px;
    height: 170px;
    position: relative;
    overflow: hidden;
    }

.wz-hover .bl1shr-link, .wz-hover .bl2shr-link, .wz-hover .bl2page-link {
    display: inline-block;
    background: url("images/blog-link.png");
    text-decoration: none;
    margin: 62px 0px 0 0px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    }

.wz-hover .bl1shr-zoom, .wz-hover .bl2page-zoom {
    display: inline-block;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 62px 0px 0 0px;
    margin-left: 8px;
    width: 45px;
    height: 45px;
    }

h2.bl1shr-title, h2.bl2page-title { font-size: 20px }

h2.bl1shr-title a, h2.bl2page-title a {
    font-weight: 600;
    margin-bottom: -10px;
    color: #1b1b1b;
    }

.bl1shr-text, .bl2shr-text, .bl2page-text { margin-top: -3px }

.bl2page-info {
    margin-top: 1px;
    float: left;
    display: block;
    margin-left: -5px;
    }

.blog-cover {
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
    height: 250px;
    }

.blog-arc-info {
    top: 5px;
    position: relative;
    margin-left: -5px;
    }

.bl1shr-col {
    margin-bottom: 5px;
    float: left;
    width: 665px;
    padding: 15px;
    }

.bl1shr-info {
    margin-top: 11px;
    float: left;
    display: block;
    margin-left: -5px;
    }

.bl2shr-col {
    margin-bottom: 0px;
    float: left;
    width: 315px;
    padding: 15px 15px 11px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    }

.bl2shr-cover {
    margin-right: 15px;
    float: left;
    width: 315px;
    height: 160px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    }

.wz-hover .bl2shr-zoom {
    display: inline-block;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 62px 0px 0 0px;
    margin-left: 8px;
    width: 45px;
    height: 45px;
    }

h2.bl2shr-title { font-size: 18px }

h2.bl2shr-title a {
    font-weight: 600;
    margin-bottom: -10px;
    color: #1b1b1b;
    }

.bl2shr-info {
    margin-top: 10px;
    margin-left: -5px;
    }

/* --- event --- */

.col-full-media .ev1page { width: 1015px; }

.col-full-media .home-width { width: 1055px; }

.col-full-media .ev1page-col {
    float: left;
    width: 305px;
    padding: 15px 15px 15px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 190px;
    }

.col-full-media .ev1page-cover {
    margin-right: 10px;
    float: left;
    width: 140px;
    height: 190px;
    position: relative;
    overflow: hidden;
    }

.col-full-media .ev1shr-information {
    width:150px;
	height:85px;
	margin-top:0px;
	overflow: hidden;
	margin-left:-10px;
	}

.col-full-media .ev1page-data {
    width:150px;
	height:85px;
	background:#eee;
	margin-top:0px;
	margin-left:-10px;
	}

.col-full-media .ev1page-cancel {
    display: inline-block;
    background: #bbb;
    text-transform: uppercase;
    text-decoration: none;
    color: #eee;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    position: relative;
    top: 30px;
    cursor: default;
    }
	
.col-full-media .ev1page-tickets a {
    display: inline-block;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    position: relative;
    top: 30px;
    }

.col-full-media .wz-hover .ev1page-link {
    display: inline-block;
    background: url("images/event-link.png");
    text-decoration: none;
    margin: 72px 0px 0 0px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    }

.col-full-media .wz-hover .ev1page-zoom {
    display: inline-block;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 72px 0px 0 0px;
    margin-left: 7px;
    width: 45px;
    height: 45px;
    }
	
.ev1page { width: 690px }

.ev1page-col {
    float: left;
    width: 315px;
    padding: 15px 15px 15px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 200px;
    }

.ev1page-cover {
    margin-right: 10px;
    float: left;
    width: 150px;
    height: 200px;
    position: relative;
    overflow: hidden;
    }

.wz-hover .ev1shr-link, .wz-hover .ev1page-link {
    display: inline-block;
    background: url("images/event-link.png");
    text-decoration: none;
    margin: 77px 0px 0 0px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    }

.wz-hover .ev1shr-zoom, .wz-hover .ev1page-zoom {
    display: inline-block;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 77px 0px 0 0px;
    margin-left: 7px;
    width: 45px;
    height: 45px;
    }

.ev1shr-tickets a, .ev1page-tickets a {
    display: inline-block;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    position: relative;
    top: 35px;
    }
	
.ev1shr-cancel, .ev1page-cancel {
    display: inline-block;
    background: #bbb;
    text-transform: uppercase;
    text-decoration: none;
    color: #eee;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    position: relative;
    top: 35px;
    cursor: default;
    }

.ev1shr-title a, .ev1page-title a {
	color:#1b1b1b;
    font-size:16px;
    font-weight:600;
	margin-left:5px;
    }
	
.ev1shr-title , .ev1page-title {
	width:155px;
	height:20px;
	overflow:hidden;
    }

.ev1shr-info, .ev1page-info { position: absolute;     margin-left:165px;}

.ev1shr-information {
    width:150px;
	height:85px;
	margin-top:2px;
	overflow: hidden;
	}

.ev1shr-data, .ev1page-data {
    width:150px;
	height:85px;
	background:#eee;
	margin-top:7px;
	}

.ev1shr-day, .ev1page-day {
    line-height: 55px;
    text-align: center;
    position: relative;
    font-size: 38px;
    text-transform: uppercase;
    }
	
.ev1page-finish {
    line-height: 36px;
    text-align: center;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    }
	
.ev1page-sep {
    position: relative;
	text-align: center;
    font-size: 38px;
	line-height: 8px;
	margin-bottom: 3px;
    }

.ev1shr-week, .ev1page-week {
    text-transform: uppercase;
    top: -3px;
    font-size: 22px;
    position: relative;
    text-align: center;
    }	
	
.ev1shr-location, .ev1page-location {
    background: url("images/event-location.png") no-repeat;
    line-height: 16px;
    padding-left: 20px;
    margin-top: 10px;
    float: left;
    width: 180px;
	height:16px;
    overflow: hidden;
    color: #1d1d1b;
	position: relative;
    }

.ev1shr-venue, .ev1page-venue {
    background: url("images/event-venue.png") no-repeat;
    line-height: 16px;
    padding-left: 20px;
    margin-top: 10px;
    float: left;
    width: 180px;
	height:16px;
    overflow: hidden;
    color: #1d1d1b;
	position: relative;
    }

.ev1shr-hour, .ev1page-hour {
    background: url("images/event-hour.png") no-repeat;
    line-height: 15px;
    padding-left: 20px;
    margin-top: 10px;
    float: left;
    width: 180px;
	height:16px;
    overflow: hidden;
    color: #1d1d1b;
	position: relative;
    }


.ev2shr-col, .ev2page-col {
    margin-bottom: 5px;
    float: left;
    width: 665px;
    padding: 15px;
    }

.ev2shr-cover, .ev2page-cover {
    margin-right: 15px;
    float: left;
    width: 166px;
    height: 166px;
    position: relative;
    overflow: hidden;
    }	
	
.ev2page-col.last { margin-bottom: 0px }

.ev2shr-data, .ev2page-data {
    left: -7px;
    top: 27px;
    float: left;
    width: 75px;
    color: #1d1d1b;
    padding: 10px 1px 0px 6px;
    position: relative;
    text-align: center;
    }

.ev2shr-day, .ev2page-day { font-size: 54px }

.ev2page-data-finish {
    left: -7px;
    top: -4px;
    float: left;
    width: 75px;
    color: #1d1d1b;
    padding: 10px 1px 0px 6px;
    position: relative;
    text-align: center;
    }
	
.ev2page-finish {
	font-size: 32px;
	text-transform: uppercase;
	line-height: 32px;
	}

.ev2page-sep {
    position: relative;
	text-align: center;
    font-size: 48px;
	line-height: 24px;
	margin-bottom: 0px;
    }

.ev2shr-month, .ev2page-month {
    text-transform: uppercase;
    position: relative;
    font-size: 32px;
    margin-top: 24px;
    }

.ev2shr-year, .ev2page-year {
    text-transform: uppercase;
    position: relative;
    font-size: 28px;
    margin-top: 14px;
    }

.wz-hover .ev2shr-link, .wz-hover .ev2page-link {
    display: inline-block;
    background: url("images/event-link.png");
    text-decoration: none;
    margin: 60px 0px 0 0px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    }

.wz-hover .ev2shr-zoom, .wz-hover .ev2page-zoom {
    display: inline-block;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 60px 0px 0 0px;
    margin-left: 8px;
    width: 45px;
    height: 45px;
    }

h2.ev2shr-title, h2.ev2page-title, h2.ev3page-title {
    font-size: 20px;
    margin-top: 0px;
    }

h2.ev2shr-title a, h2.ev2page-title a, h2.ev3page-title a {
    font-weight: 600;
    margin-bottom: -10px;
    color: #1b1b1b;
    }

.ev2shr-info, .ev2page-info {
    margin-bottom: 38px;
    top: 0px;
    color: #888;
    position: relative;
    }

.ev2shr-venue, .ev2page-venue {
    background: url("images/event-venue.png") no-repeat;
    line-height: 16px;
    padding-left: 20px;
    margin-top: 3px;
    float: left;
    color: #1d1d1b;
    margin-right: 20px;
	overflow: hidden;
	height:16px;
	width:180px;
    }

.ev2shr-hour, .ev2page-hour {
    background: url("images/event-hour.png") no-repeat;
    line-height: 15px;
    padding-left: 20px;
    margin-top: 3px;
	margin-right: 15px;
    float: left;
    color: #1d1d1b;
    }

.ev2page-tickets a {
    margin-top: 3px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    }

.ev2shr-tickets a {
    margin-top: 13px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
	border-radius: 3px;
    }
	
.ev2shr-tickets a:hover, .ev2page-tickets a:hover, .ev3page-tickets a:hover { background: #000 }

.ev2page-cancel {
    margin-top: 3px;
    background: #bbb;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #eee;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    cursor: default;
    }

.ev2page-week {
    position: relative;
    top: 7px;
    float: right;
    cursor: default;
    font-size: 36px;
    color: #eee;
    text-transform: uppercase;
    }

.ev2page { width: 690px }

.ev3page {
    margin-bottom: 5px;
    float: left;
    width: 665px;
    padding: 15px 15px 8px 15px;
    }
	
.ev3page-past {
    float: left;
    width: 690px;
	margin-top:23px;
    }

.ev3page.last { margin-bottom: 0px }

.ev3page-data {
    float: left;
    width: 155px;
    height: 75px;
    color: #1b1b1b;
    padding: 5px 0px 0px 0px;
    margin-right: 15px;
    margin-left: 0px;
    text-align: center;
    background: #eee;
    }

.ev3page-finish {
    top: 2px;
    position: relative;
    font-size: 30px;
    margin-right: 7px;
    text-transform: uppercase;
    }
	
.ev3page-sep {
    position: relative;
	text-align: center;
    font-size: 48px;
	line-height: 24px;
	margin-bottom: 0px;
    }
	
.ev3page-day {
    top: 8px;
    position: relative;
    font-size: 35px;
    margin-right: 7px;
    text-transform: uppercase;
    }

.ev3page-year {
    top: 22px;
    position: relative;
    font-size: 28px;
    text-transform: uppercase;
    }

.ev3page-week {
    top: 21px;
    position: relative;
    font-size: 28px;
    text-transform: uppercase;
    float: right;
    color: #eee;
    }

.ev3page-tickets a {
    margin-top: 3px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    color: #fff;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    }

.ev3page-cancel {
    top: 0px;
    position: relative;
    background: #bbb;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    color: #eee;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    cursor: default;
    }

.ev3page-info {
    margin-bottom: 8px;
    top: 0px;
    color: #888;
    position: relative;
    display: inline-block;
    }

.ev3page-venue {
    background: url("images/event-venue.png") no-repeat;
    line-height: 16px;
    padding-left: 20px;
    margin-top: 0px;
    color: #1d1d1b;
	height:16px;
	width:290px;
	overflow: hidden;
    }

.ev3page-hour {
    background: url("images/event-hour.png") no-repeat;
    line-height: 15px;
    padding-left: 20px;
    margin-top: 12px;
    color: #1d1d1b;
    }

.event-info {
    margin-right: 15px;
    float: left;
    }

.evsng-cover {
    width: 180px;
    height: 240px;
    overflow: hidden;
    position: relative;
    }

.wz-hover .evsng-link {
    display: inline-block;
    background: url("images/event-link.png");
    text-decoration: none;
    margin: 97px 0px 0 0px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    }

.wz-hover .evsng-zoom {
    display: inline-block;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 97px 0px 0 0px;
    margin-left: 8px;
    width: 45px;
    height: 45px;
    }

.evsng-hover-tickets a {
    display: inline-block;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    position: relative;
    top: 55px;
    }

.evsng-hover-cancel {
    display: inline-block;
    background: #bbb;
    text-transform: uppercase;
    text-decoration: none;
    color: #eee;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    position: relative;
    top: 55px;
    cursor: default;
    }

.event-single-data {
    margin-top: 20px;
    text-align: center;
    width: 180px;
    margin-bottom: 20px;
    }

.event-single-sep {
    position: relative;
    font-size: 68px;
	line-height: 30px;
	margin-bottom: 8px;
    }
	
.event-single-finish {
    position: relative;
    font-size: 28px;
	text-transform: uppercase;
	line-height: 32px;
    }
	
.event-single-finish span {
    position: relative;
    font-size: 26px;
	background: #eee;
	padding: 0px 10px;
    }
	
.event-single-day {
    position: relative;
    font-size: 42px;
    display: inline;
    }

.event-single-month {
    text-transform: uppercase;
    display: inline;
    position: relative;
    font-size: 42px;
    }

.evsng-week {
    text-transform: uppercase;
    width: 180px;
    position: relative;
    font-size: 28px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 16px;
    background: #eee;
    line-height: 40px;
    }

.event-single-year {
    text-transform: uppercase;
    font-size: 50px;
    }
	
.event-text {
    float: right;
    width: 470px;
    }

.evsng-tickets a {
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    color: #fff;
    border-radius: 3px;
    padding: 4px 8px 6px 8px;
    }
	
.evsng-tickets a:hover {
    background: #000;
    }

.evsng-out p {
    background: #bbb;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    color: #eee;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    cursor: default;
    }

.evsng-head { margin-bottom: 15px }

h2.event-title {
    font-size: 24px;
    width: 360px;
    }

.evsng-info { margin-bottom: 15px }

.evsng-info-in {
    font-size: 14px;
    margin-top: 5px;
    cursor: default;
    }
	
.evsng-cell {
	float:left;
	background:#eee;
	padding:5px 5px 5px 10px;
	width:100px;
	margin-right:5px;
	display: inline-block;
	}
	
.evsng-cell-info {
	background:#eee;
	padding:5px 5px 5px 10px;
	width:335px;
	display: inline-block;
	}
	
#event-map {
    width: 665px;
    height: 300px;
    display: inline-block;
    }
	
.evsng-map {
    margin-top: 6px;
	display: inline-block;
	text-align:center;
	}

.evsng-map-img {
    margin-top: 6px;
	display: inline-block;
	margin-left:0px;
	background:#eee;
	padding:15px;
	}

.ev1shr-col {
    margin-bottom: 0px;
    float: left;
    width: 315px;
    padding: 15px 15px 15px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 200px;
    }

.ev1shr-cover {
    margin-right: 10px;
    float: left;
    width: 150px;
    height: 200px;
    position: relative;
    overflow: hidden;
    }

.ev2shr-cancel {
    margin-top: 13px;
    background: #bbb;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #eee;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    cursor: default;
    }

.ev2shr-week {
    position: relative;
    top: 17px;
    float: right;
    cursor: default;
    font-size: 40px;
    color: #eee;
    text-transform: uppercase;
    }

/* --- audio --- */

.adpage1-cover {
    width: 235px;
    height: 235px;
    position: relative;
    overflow: hidden;
    }

.wz-hover .adpage1-link {
    float: left;
    background: url("images/audio-link.png");
    margin: 95px 0px 0 0px;
    margin-left: 68px;
    width: 45px;
    height: 45px;
    }

.wz-hover .adpage1-zoom {
    float: left;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 95px 0px 0 0px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    }

.adpage2-cover {
    width: 318px;
    height: 318px;
    position: relative;
    overflow: hidden;
    }

.wz-hover .adpage2-link {
    float: left;
    background: url("images/audio-link.png");
    margin: 136px 0px 0 0px;
    margin-left: 109px;
    width: 45px;
    height: 45px;
    }

.wz-hover .adpage2-zoom {
    float: left;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 136px 0px 0 0px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    }

.adsng-col {
    width: 985px;
    padding: 15px;
    overflow: hidden;
    }

.adsng-left {
    float: left;
    width: 275px;
    }

.adsng-cover {
    width: 275px;
    height: 275px;
    overflow: hidden;
    position: relative;
    }

.wz-hover .adsng-link {
    float: left;
    background: url("images/audio-link.png");
    text-decoration: none;
    margin: 115px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 87px;
    }

.wz-hover .adsng-zoom {
    float: left;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 115px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    }

.adsng-info { margin-top: 10px }

.adsng-buy a {
    margin-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    margin-right: 5px;
    }

.adsng-buy a:hover { background: #000 }

.adsng-text {
    margin-top: -22px;
    float: right;
    width: 695px;
    }

.adsng-text li { position: relative }

.adsng-text li:first-child { margin-top: 22px }

.adsng-text li a { color: #fff }

.adsng-text li.playing a { color: #fff }

.audio-post { }

.adshr-cover {
    width: 212px;
    height: 212px;
    position: relative;
    overflow: hidden;
    }

.wz-hover .adshr-link {
    float: left;
    background: url("images/audio-link.png");
    margin: 83px 0px 0 0px;
    margin-left: 56px;
    width: 45px;
    height: 45px;
    }

.wz-hover .adshr-zoom {
    float: left;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 83px 0px 0 0px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    }

.adsng-cell {
	float:left;
	background:#eee;
	padding:5px 5px 5px 10px;
	width:85px;
	margin-right:5px;
	display: inline-block;
	}
	
.adsng-cell-info {
	background:#eee;
	padding:5px 5px 5px 10px;
	width:155px;
	display: inline-block;
	}
	
/* --- photo --- */

.wz-hover .phpage1-link {
    float: left;
    background: url("images/photo-link.png");
    text-decoration: none;
    margin: 55px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 67px;
    }

.wz-hover .phpage2-link {
    float: left;
    background: url("images/photo-link.png");
    text-decoration: none;
    margin: 82px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 109px;
    }

.phsng {
    float: left;
    width: 985px;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    }

.phsng-col { width: 1015px }

.phsng-photo {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    width: 185px;
    height: 185px;
    }

.wz-hover .phshr-link {
	float:left;
	background:url("images/photo-link.png");
	margin:47px 0px 0 0px;
	margin-left:56px;
	width:45px;
	height:45px;
}

.wz-hover .atshr-link {
	float:left;
	background:url("images/artist-link.png");
	margin:47px 0px 0 0px;
	margin-left:56px;
	width:45px;
	height:45px;
}

/* --- video --- */

.wz-hover .vdpage1-link {
    float: left;
    background: url("images/video-link.png");
    text-decoration: none;
    margin: 55px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 62px;
    }

.wz-hover .vdpage2-link {
    float: left;
    background: url("images/video-link.png");
    text-decoration: none;
    margin: 82px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 109px;
    }
	
.wz-hover .vdshr-link {
	float:left;
	background:url("images/video-link.png");
	margin:47px 0px 0 0px;
	margin-left:56px;
	width:45px;
	height:45px;
}

/* --- artist --- */

.wz-hover .atpage1-link {
    float: left;
    background: url("images/artist-link.png");
    text-decoration: none;
    margin: 55px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 67px;
    }

.wz-hover .atpage2-link {
    float: left;
    background: url("images/artist-link.png");
    text-decoration: none;
    margin: 82px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 109px;
    }

.atsng-col {
    width: 985px;
    padding: 15px;
    overflow: hidden;
    }

.atsng-left {
    float: left;
    width: 360px;
    }

.atsng-cover {
    width: 360px;
    height: 238px;
    overflow: hidden;
    position: relative;
    }

.atsng-cell {
    float: left;
    background: #eee;
    padding: 5px 5px 5px 10px;
    width: 105px;
    margin-right: 5px;
    display: inline-block;
    }
	
.atsng-cell-info {
	background:#eee;
	padding:5px 5px 5px 10px;
	width:220px;
	display: inline-block;
}	

.atsng-text {
	margin-top:-22px;
    float: right;
    width: 610px;
    }

.artist-post { margin-top: 20px }

.wz-hover .atsng-link {
    float: left;
    background: url("images/artist-link.png");
    text-decoration: none;
    margin: 96px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 130px;
    }

.wz-hover .atsng-zoom {
    float: left;
    background: url("images/media-zoom.png");
    text-decoration: none;
    margin: 96px 0px 0 0px;
    width: 45px;
    height: 45px;
    margin-left: 12px;
    }

/* --- dj mix --- */	

.mxpage-col {
    margin-bottom: 5px;
    float: left;
    width: 665px;
    padding: 15px;
    border-bottom: 0px solid #eee;
    }

.mxpage-col.last { margin-bottom: 0px }

.mxpage-cover {
    width: 66px;
    height: 66px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    }

h2.mxpage-title {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    }

h2.mxpage-title a {
    font-weight: 600;
    color: #1d1d1b;
    }

.mxpage-genre {
    line-height: 16px;
    color: #1d1d1b;
    }

.mxpage-data {
    line-height: 16px;
    margin-top: 6px;
    color: #1d1d1b;
    float: left;
    margin-right: 20px;
    }

#mxpage-media { float: right }

#mxpage-media ul.fap-my-playlist {
    margin-bottom: -9px;
    margin-top: -43px;
    }

#mxpage-media ul.fap-my-playlist li {
    list-style: none;
    float: left;
    }

#mxpage-media ul.fap-my-playlist li a {
    list-style: none;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 5px;
    border-radius: 3px;
    }

#mxpage-media ul.fap-my-playlist li.play a { background: #eee url("images/mix-play.png") no-repeat left }

#mxpage-media .shop {
    background: #eee url("images/mix-shop.png");
    width:30px;
    height:30px;
    float:left;
    display:block;
    margin-left:5px;
}

#mxpage-media ul.fap-my-playlist li.selected {
    height: none;
    padding: none;
    background: none;
    border-left: none;
    margin-bottom: 0px;
    list-style-type: none;
    }

#mxpage-media ul.fap-my-playlist li {
    line-height: none;
    padding: 0px 0px 0px 0px;
    background: none;
    margin-bottom: 0px;
    list-style-type: none;
    border-left: none;
    border-bottom: none;
    }

#mxpage-media ul.fap-my-playlist li:hover { border-left: none }

#mxpage-media ul.fap-my-playlist li a {
    position: relative;
    top: 0px;
    width: none;
    height: none;
    }

span#player-meta-mix { display: none }

span#player-meta-widget { display:none; }

.player-mix-info1 {
    position: absolute;
    top: 27px;
    }

.player-mix-info2 {
    position: absolute;
    top: 43px;
    }
	
/* --- features header --- */

#evftr {
    margin-top: 20px;
    float: right;
    margin-right: 10px;
    }

.evftr-info {
    float: left;
    margin-left: 20px;
    margin-top: -11px;
    }

.evftr-date {
    text-align: center;
    padding: 10px;
    float: right;
    width: 120px;
    color: #000;
    height: 60px;
    border-bottom: 3px solid #bbb;
	overflow: hidden;
    }

.evftr-dm {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    }

.evftr-week {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    }

#bnftr {
    width: 695px;
    height: 90px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    overflow: hidden;
    }

#bnftr-none {
    background: url("images/no-cover/banner.png");
    width: 695px;
    height: 90px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    overflow: hidden;
    }
	
/* -------------------------------------------
    05. NAVIGATION
   ------------------------------------------- */
   
#main {
    margin-top:20px;
    height: 43px;
	background:url("images/menu-footer.png");
	padding:10px 20px 6px 20px; 
	width:1015px;
	margin-left:-20px;
    }

.main-navigation { 
    float: left; 
    }

.main-navigation ul { 
    list-style-type: none;
    }

/* --- menu --- */

#wizemenu { 
    zoom: 1; 
    }

#wizemenu > ul {
    margin: 0px;
    padding: 0;
    position: relative;
    }

#wizemenu > ul li {
    background:url();
    list-style: none;
    margin-right: 5px;
    padding: 0;
    }

#wizemenu:before, #wizemenu:after, #wizemenu > ul:before, #wizemenu > ul:after {
    display: table;
    content: '';
    }

#wizemenu:after, #wizemenu > ul:after {
    clear: both;
    }

#wizemenu > ul > li {
    float: left;
    position: relative;
    }

#wizemenu > ul > li > a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 15px 1px 15px;
    font-size: 14px;
    border-radius:0px;
	font-weight:400;
	height:28px;
	line-height:20px;
	border-radius:0px;
    }
		
#wizemenu > ul > li.active > a  { 
    background:#fff;
    color: #1b1b1b;	
	}
	
#wizemenu > ul > li:hover > a { 
    color: #fff;	
	margin-top:0px;
    }

#wizemenu > ul > li > a > span { 
    line-height: 18px;
    }

#wizemenu > ul > li.active > a, #wizemenu > ul > li > a:active {

    }


/* --- menu childs --- */

#wizemenu > ul ul {
    visibility: hidden;
    top: 50px;
    margin: 0px;
    padding: 0;
    opacity: 0;
    z-index: 2;
    position: absolute;
    }

#wizemenu > ul ul:before {
    background: transparent;
    top: -10px;
    width: 100%;
    height: 20px;
    content: '';
    position: absolute;
    }

#wizemenu > ul ul li {
    list-style: none;
    width: 180px;
    padding: 0;
	background:url("images/wizemenu.png");
    }

#wizemenu > ul ul li a {
    text-transform: uppercase;
    text-decoration: none;
    width: 150px;
    color: #fff;
    display: block;
    padding: 8px 15px 8px 15px;
    font-size: 14px;
    }


#wizemenu > ul ul li a:hover { 
    color: #fff;	
    }

#wizemenu > ul li:hover ul {
    visibility: visible;
    top: 49px;
    left: 0;
    color: #000;
    margin: 0;
    opacity: 1;
    z-index: 2;
    }

/* --- 3-level menu childs --- */

#wizemenu ul ul > li {
    position:relative;
    display:block;
    }

#wizemenu > ul ul ul li {
    list-style: none;
    width: 100%;
	margin-left:5px;
	width: 180px;
    }
	
#wizemenu > ul ul li:hover ul {
    top: 0px;
    left: 180px;
    }

#wizemenu > ul li:hover ul ul, #wizemenu > ul li:hover ul ul ul, #wizemenu > ul li.over ul ul, #wizemenu > ul li.over ul ul ul {
    display:none;
    }
	
#wizemenu > ul li:hover ul, #wizemenu > ul li li:hover ul, #wizemenu > ul li li li:hover ul, #wizemenu > ul li.over ul, #wizemenu > ul li li.over ul, #wizemenu >ul li li li.over ul {
	display: block;
    }

/* -------------------------------------------
    06. WIDGETS
   ------------------------------------------- */	
 
.widgets-col {   
    overflow: hidden;
	color:#1b1b1b;
    }
	
.widgets-ads {   
    overflow: hidden;
	color:#1b1b1b;
    }
		
.vdwdg {   
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    }
	
#footer .vdwdg {   
    margin-bottom: 13px;
    padding: 0;
    overflow: hidden;
	background:none;
    }

.phwdg {   
    padding: 15px 15px 10px 15px;
    overflow: hidden;
    }

.flkwdg { 
    padding: 15px 15px 10px 15px;
    overflow: hidden;
    }

.widget.last {
    margin-bottom: 0px; 
    }

.sidebarnav {
	float:left;
	position:absolute;
    }

.sidebarnav h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
	color:#fff;
	padding:5px 0px 5px 0px;
    float:left;
	line-height:34px;
    }

.list-nav {
    margin-bottom: 28px;
    width: 300px;
    color: #fff;
    display: inline-block;
    }

.list-nav ul {
    margin-bottom: 0px;
    list-style-type: none;
    }

.list-nav ul li {
    margin-bottom: 0px; 
    }

.list-nav ul li img {
    margin-top: 5px;
    margin-right: 15px;
    float: left;
    }

.list-nav ul li a:hover {
    text-decoration: none; 
	color:#1b1b1b;
    }
 
/* --- twitter widget --- */
 
 .tweets_list ul {
	color:#1b1b1b;
	padding:15px;
	list-style-image:url("images/twitter-dark.png");
	}

.tweets_list li {
	margin-top:15px;
	}

.tweets_list li:first-child {
	margin-top:0px;
	}

#footer .tweets_list ul {
	color:#fff;
	list-style-image:url("images/twitter-light.png");
	background:none;
	padding:0px;
	}

#footer .tweets_list li a {
	color:#fff;
	font-weight:600;
	}

/* --- links widget --- */

.blogroll {  
    padding:  10px 15px 15px 15px;
    overflow: hidden;
    }

.widget_links ul { 
    }

.widget_links li {
    list-style: none;
    float: left;
    width: 135px;
	margin-top:5px;
    }
	
.widget_links li a{
	color:#1b1b1b;
	font-weight:600;
	}
	
.widget_links li:last-child {
    margin-bottom: 0px; 
    }

#footer .blogroll {
    background: none;
    padding: 0px;
    overflow: hidden;
    }

#footer .widget_links li {
    list-style: none;
    float: left;
    width: 115px;
	margin-top:5px;
    }
	
#footer .widget_links li a {
	font-weight:600;
	}
	
/* --- meta widget --- */

.widget_meta ul {   
    padding: 10px 15px 15px 15px;
    overflow: hidden;
    }

.widget_meta li {
    list-style: none;
    float: left;
    width: 135px;
	margin-top:5px;
    }
	
.widget_meta li a {
	font-weight:600;
	color:#1b1b1b;
    }

.widget_meta li:last-child {
    margin-bottom: 0px; 
    }
	
/* --- text widget --- */

.textwidget {  
    padding: 15px;
    overflow: hidden;
	color:#1b1b1b;
    }
	
.textwidget a {  
	color:#1b1b1b;
	font-weight:600;
    }
	
#footer .textwidget a {  
	color:#fff;
    }

#footer .textwidget {
    background: none;
    margin-bottom: 19px;
    padding: 0px;
    overflow: hidden;
	color:#fff;
    }
	
/* --- recent comments widget --- */

#recentcomments {
    padding: 10px 15px 15px 15px;
    overflow: hidden;
    }

.widget_recent_comments ul { 
	color:#1b1b1b;
    }

.widget_recent_comments ul li {
    background: url("images/com-wdg.png") no-repeat 0 6px;
    padding-left: 23px;
    list-style-type: none;
	margin-top:5px;
    }
	
.widget_recent_comments ul li a {
    font-weight:600;
    color:#1b1b1b;
    }
	
#footer .widget_recent_comments ul li a {
    font-weight:600;
    color:#fff;
    }

.widget_recent_comments li:last-child { 
    margin-bottom: 0px;
    }

#footer #recentcomments {
    background: none;
    padding: 0;
    overflow: hidden;
    }

#footer .widget_recent_comments li { 
    margin-bottom: 10px 
    }

#footer .widget_recent_comments ul { 
    margin-bottom: 19px;
	color:#fff;
    }
	
#footer .widget_recent_comments ul li {
    background: url("images/com-wdg-footer.png") no-repeat 0 6px;
    padding-left: 23px;
    list-style-type: none;
	margin-top:5px;
    }
	
/* --- recent widget --- */

.widget_recent_entries ul { 
    padding: 10px 15px 15px 15px;
    overflow: hidden;
    }

.widget_recent_entries li {
    list-style: none;
    float: left;
	margin-top:5px;
    }
	
.widget_recent_entries li a {
    color:#1b1b1b;
    font-weight:600;
    }

#footer .widget_recent_entries ul {
    background: none;
    margin-bottom: 19px;
    padding: 0px;
    overflow: hidden;
    }

#footer .widget_recent_entries li {
    list-style: none;
    float: left;
	margin-top:5px;
    }
	
#footer .widget_recent_entries li a {
    font-weight:600;
    }
	
/* --- archives widget --- */

.widget_archive ul {
    padding: 10px 15px 15px 15px;
    overflow: hidden;
    }

.widget_archive li {
    list-style: none;
    float: left;
    width: 135px;
	margin-top:5px;
    }
	
.widget_archive li a {
    color:#1b1b1b;
    font-weight:600;
    }

	
#footer .widget_archive ul {
    background: none;
    padding: 0px;
    overflow: hidden;
    }

#footer .widget_archive li {
    list-style: none;
    float: left;
    width: 115px;
    }
		
/* --- tagcloud widget --- */

.tagcloud {
    padding: 15px 15px 11px 15px;
    overflow: hidden;
    }

.tagcloud a {
    margin-bottom: 4px;
    color: #fff;
    display: inline-block;
    padding: 3px 6px 3px 6px;
	border-radius:3px;
    }

.tagcloud a:hover {
    text-decoration: none;
    color: #fff;
	background: #000;
    }

#footer .tagcloud {
    background: none;
    margin-bottom: 19px;
    padding: 0;
    overflow: hidden;
    }
	
	/* --- categories widget --- */

.widget_categories ul {
    padding:  10px 15px 15px 15px;
    overflow: hidden;
    }
	
.widget_categories li a{
    color:#1b1b1b;
    font-weight:600;
    }

.widget_categories li {
    list-style: none;
    float: left;
    width: 135px;
	margin-top:5px;
    }

.widget_categories li:last-child { 
    margin-bottom: 0px;
    }

#footer .widget_categories ul {
    background: none;
    padding: 0px;
    }

#footer .widget_categories li {
    list-style: none;
    float: left;
    width: 115px;
    }
	
	/* --- pages widget --- */

.widget_pages ul {
    padding: 10px 15px 15px 15px;
    overflow: hidden;
    }

.widget_pages li {
    list-style: none;
    float: left;
    width: 135px;
	margin-top:5px;
    }
	
.widget_pages li a {
	color:#1b1b1b;
	font-weight:600;
    }

.widget_pages li:last-child { 
    margin-bottom: 0px; 
    }

#footer .widget_pages ul {
    background: none;
    margin-bottom: 19px;
    padding: 0px;
    overflow: hidden;
    }

#footer .widget_pages li {
    list-style: none;
    float: left;
    width: 115px;
	margin-top:5px;
    }
	
#footer .widget_pages li a{
	font-weight:600;
    }
	
/* --- menu widget --- */

.widget_nav_menu ul {
    padding: 15px;
    overflow: hidden;
    }

.widget_nav_menu li{
    list-style: none;
    float: left;
    width: 185px;
	color:#1b1b1b;
	font-weight:600;
    }
	
.widget_nav_menu li a{
	color:#1b1b1b;
	font-weight:600;
	font-size:16px;
    }

.widget_nav_menu li:last-child {
    margin-bottom: 0px; 
    }

.widget_nav_menu ul.sub-menu {
    margin-top: -5px;
    background: none;
    margin-bottom: -15px;
    }

.widget_nav_menu .sub-menu li {
    list-style-type: square; 
    }

.widget_nav_menu .sub-menu li:first-child { 
    margin-top: 0px;
    }

#footer .widget_nav_menu ul {
    background: none;
    margin-bottom: 19px;
    padding: 0;
    overflow: hidden;
	color:#fff;
    }

#footer .widget_nav_menu li {
    list-style: none;
    float: left;
    width: 185px;
	color:#1b1b1b;
	font-weight:600;
	margin-top:5px;
    }
	
#footer .widget_nav_menu li a {
	font-weight:600;
	font-size:16px;
    }

#footer .widget_nav_menu ul.sub-menu {
    margin-top: 0px;
    background: none;
    }

#footer .widget_nav_menu .sub-menu li {
    margin-left: 15px;
    list-style-type: square;
	color:#fff;
    }

/* --- blog widget --- */

.blwdg-data {
    background:url("images/blog-data.png") no-repeat;
	padding-left: 28px;
    padding-right: 10px;
    float: left;
	line-height:27px;
	margin-left:-5px;
	width:150px;
    }
	
#footer .blwdg-data {
    background:url("images/blog-data-footer.png") no-repeat;
	padding-left: 28px;
    padding-right: 10px;
    float: left;
	line-height:27px;
	margin-left:-5px;
	font-size:13px;
	color:#fff;
	margin-top:5px;
	width:120px;
    }

.blwdg { 
	padding:15px 15px 0px 15px;
	}

#footer .blwdg { 
	padding:0;
	}

.blwdg a {
	color:#1b1b1b;
	font-weight:600;
    }
	
#footer .blwdg a {
	color:#fff;
	font-weight:600;
    }
	
.blwdg-post {
	margin-bottom:15px;
	height:65px;
	}

#footer .blwdg-post {
	margin-bottom:5px;
	height:85px;
	}

.blwdg-text {
    top:-2px;
    position:relative;
    }

#footer .blwdg-text a {
    color:#fff;
    }
	
.blwdg-cover {
    float:left;
    margin-right:15px;
    }

#footer .blog-w-data {
    margin-top: 6px;
    color: #bbb;
    }

#footer .widgets-col {
    background: none;
    padding: 0;
    }

#footer .blog-w li {
    margin-top: -20px;
    height: 70px;
    }

#footer .blog-w li img {
    margin-top: 5px;
    margin-right: 15px;
    float: left;
    }

#footer .blog-w li:first-child {
    margin-top: -5px 
    }

#footer .blog-w li a {
    font-weight: 600;
    color: #fff;
    }

#footer .blog-w li a:hover { 
    text-decoration: none; 
    }	

/* --- event widget --- */

.evwdg {
    margin-bottom: 15px;
	width:300px;
    height: 90px;
	margin-left:15px;
    }
	
#footer .evwdg {
    margin-bottom: 15px;
    height: 90px;
	margin-left:0px;
    }

.evwdg.first {
	margin-top: 15px;
    }
	
.evwdg.last { 
    margin-bottom: 15px;
    }

.evwdg-data {
    float: left;
	width:65px;
	height:78px;
    text-align:center;
    background:#eee;
    padding-top:7px;
    padding-bottom:5px;
    }

.evwdg-day {
    top:5px;
	position:relative;
    float: left;
    width:65px;
	clear: both;
    display: inline;
    font-size: 36px;
    }

.evwdg-month {
    text-transform: uppercase;
    top: 14px;
    position: relative;
	width:65px;
    clear: both;
    font-size: 18px;
	text-align:center;
    }
	
.evwdg-year {
    text-transform: uppercase;
    top: 14px;
	position: relative;
	width:65px;
    clear: both;
	display: inline;
    font-size: 18px;
    }

.evwdg-title {
    top: 0px;
    left: 15px;
    position: relative;
    font-size: 16px;
    }

.evwdg-title a {
    font-weight: 600;
    color: #1b1b1b;
    }
	
#footer .evwdg-title a {
    font-weight: 600;
    }

.evwdg-title a:hover { 
    text-decoration: none;
	}


.evwdg-tickets a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
	border-radius: 3px;
	padding: 5px 8px 6px 8px;
    }
	
.evwdg-out p {
    background: #bbb;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #eee;
    padding: 4px 8px 4px 8px;
	border-radius: 3px;
	cursor:default;
	margin-top:-3px;
    }	
		
.evwdg-tickets a:hover {
    background: #000;
    }
	
.evwdg-status {
	float: left;
	margin-left:15px;
    }
	
.evwdg-venue {
    background: url("images/event-venue.png") no-repeat;
	line-height: 16px;
    padding-left: 20px;
	margin-top:10px;
	margin-bottom:15px;
    float: left;
	position:relative;
	width:200px;
	height:16px;
	overflow: hidden;
    }	
	
.evwdg-venue-gol {
	line-height: 16px;
    padding-left: 20px;
	margin-top:10px;
	margin-bottom:15px;
    float: left;
	position:relative;
	width:200px;
	height:16px;
	overflow: hidden;
    }	

.evwdg-test {
	width:200px;
	height:50px;
	}
	
#footer .evwdg-venue {
    background: url("images/event-venue-footer.png") no-repeat;
	line-height: 16px;
    padding-left: 20px;
	margin-top:10px;
	margin-bottom:15px;
    float: left;
	color:#fff;
    }	
	

#footer .event-widgets {
    margin-bottom: 28px;
    height: 80px;
    }

/* --- photo widget --- */

.phwdg-col { 
    width: 120%; 
    }
	
.phwdg-cover {
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    width: 87px;
    height: 87px;
    position: relative;
    overflow: hidden;
    }

#footer .phwdg {
    background: none;
    margin-bottom: 19px;
    padding: 0;
    overflow: hidden;
    }

#footer .phwdg-cover {
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    width: 76px;
    height: 76px;
    position: relative;
    overflow: hidden;
    }

/* --- video widget --- */

.vdwdg-cover {
    margin-bottom: 0px;
    width: 270px;
    height: 160px;
    position: relative;
    overflow: hidden;
    }
	
.wz-hover .vdwdg-link {
	float:left;
	background:url("images/video-link.png");
	text-decoration:none;
	margin:57px 0px 0 0px;
	width:45px;
	height:45px;
    margin-left:85px;
}

.wz-hover .vdwdg-zoom {
	float:left;
	background:url("images/media-zoom.png");
	text-decoration:none;
	margin:57px 0px 0 0px;
	width:45px;
	height:45px;
    margin-left:10px;
}

#footer .wz-hover .vdwdg-link {
	float:left;
	background:url("images/video-link.png");
	text-decoration:none;
	margin:55px 0px 0 0px;
	width:45px;
	height:45px;
    margin-left:61px;
}

.vdwdg-info {
	background:#eeeeee;
	padding:5px 5px 5px 10px;
	border-bottom:3px solid #bbbbbb;
	margin-bottom:15px;
} 

#footer .video-widget-cover {
    margin-bottom: 15px;
    float: left;
    width: 230px;
    height: 140px;
    position: relative;
    overflow: hidden;
    }	
	
/* --- audio widget --- */

.adwdg-title {
	width:167px;
	height:30px;
	overflow: hidden;
    }

.adwdg-title a {
    font-weight: bold;
    top: 12px;
    color: #1b1b1b;
    position: relative;
    font-size: 15px;
    }
	
.adwdg-title a:hover { 
    text-decoration: none; 
    }

.adwdg-cover {
    margin-right: 10px;
    float: left;
	padding-left:15px;
	padding-top:15px;
	width:98px;
	height:98px;
	overflow: hidden;
    }
	
.adwdg-genre {
    background: url("images/audio-genre-wdg.png") no-repeat;
	line-height: 16px;
    padding-left: 20px;
	float:left;
	margin-top:11px;
	width:142px;
	height:16px;
	overflow: hidden;
    }
	
.adwdg-data {
    background: url("images/audio-data-wdg.png") no-repeat;
	line-height: 16px;
    padding-left: 20px;
	float:left;
	margin-top:11px;
	width:142px;
	height:16px;
	overflow: hidden;
    }
	
.adwdg-artist {
    background: url("images/audio-artist-wdg.png") no-repeat;
	line-height: 16px;
    padding-left: 20px;
	float:left;
	margin-top:11px;
	width:142px;
	height:16px;
	overflow: hidden;
    }
	
.adwdg-info {
    color: #1b1b1b;
    font-size: 14px;
	margin-bottom: 40px; 
    }	
	
.adwdg-now {
    background: url("images/audio-now-wdg.png") no-repeat;
	line-height: 16px;
    padding-left: 20px;
	float:left;
	margin-top:-10px;
	text-transform: uppercase;
	font-size:14px;
    }
	
.adwdg-buy-now  {
	padding:15px;
	}
	
.widget-audio-buy a {
    margin-left: 5px;
    text-transform: uppercase;
    text-decoration: none;
    top: -18px;
    float: right;
    color: #fff;
    padding: 5px 8px 6px 8px;
    position: relative;
	border-radius:3px;
    }

.widget-audio-buy a:hover {
    background: #000;
    color: #fff;
    }

#footer .widget-audio-title { 
    margin-top: 2px; 
    }

#footer .widget-audio-title a {
    font-weight: bold; 
    }

#footer .widget-audio-title a:hover {
    text-decoration: none; 
    }

#footer .widget-audio-meta {
    margin-top: 0px;
    color: #888;
    }

#footer .widget-audio-meta li {
    list-style: none;
    margin-bottom: 3px;
    }

#footer .widget-audio-cover {
    float: left;
    width: 0px;
    height: 0px;
    position: relative;
    overflow: hidden;
    }

#footer .widget-audio-buy a {
    margin-right: 5px;
    margin-bottom: -3px;
    text-decoration: none;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
    }
	
/* --- flickr widget --- */

.flickr {
    width: 120%;
    }

.flickr_badge_image {
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
	height: 86px;
    }

.flickr_badge_image img {
    width: 86px;
    height: 86px;
    }

#footer .flickr_badge_image {
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
	height: 76px;
    }	
	
	
#footer .flickr_badge_image img {
    width: 76px;
    height: 76px;
    }
	
	
#footer .flkwdg {
    background: none;
    padding: 0;
    }
	
/* --- calendar widget --- */

#calendar_wrap {
    padding: 15px 15px 0px 15px;
    overflow: hidden;
	color:#1b1b1b;
    }

.widget_calendar {float: left; border: none;}
.widget_calendar  table td {border: none; }

#wp-calendar {width: 100%; border: none;}
#wp-calendar caption { text-align: center; margin-bottom: 15px;text-transform: uppercase; font-size: 16px; }
#wp-calendar thead { font-size: 10px; background: #eee; border:none;}
#wp-calendar thead th { padding-bottom: 10px; border: 1px solid #fff;}
#wp-calendar tbody { color: #1b1b1b; }
#wp-calendar tbody td { background: #f7f7f7; border: 1px solid #fff; text-align: center; padding:8px; font-size: 12px;}
#wp-calendar tbody td:hover { color:#fff;}
#wp-calendar tbody td a:hover { color:#fff;}
#wp-calendar tbody .pad { background: none; }
#wp-calendar tbody .pad:hover { background: none; }

#wp-calendar tfoot>tr>td#prev {
    text-align: left;
    padding: 16px 0px 0px 0px;
    }

#wp-calendar tfoot>tr>td#next {
    text-align: right;
    padding: 0;
    }

#wp-calendar tfoot>tr>td #prev a, .widget_calendar tfoot>tr>td #next a {
    font-weight: 600;
    color:#1b1b1b;
    font-size: 16px;
    }
	
#footer #wp-calendar tfoot>tr>td#prev a, #footer #wp-calendar tfoot>tr>td#next a {
    font-weight: 600;
    color:#fff;
    font-size: 16px;
    }

#footer #wp-calendar caption { text-align: center; margin-bottom: 15px;text-transform: uppercase; font-size: 16px;  color:#fff;}
	
#footer #calendar_wrap {
    background: none;
    margin-bottom: 19px;
    padding: 0;
    overflow: hidden;
    }

#footer #wp-calendar thead th {
    text-align: center;
    padding-bottom: 10px; border: 1px solid #fff;
	padding: 12px;
    }
	
/* --- search widget --- */

.widget_search { 
    background: none;
    }

#searchform {
    margin-top: 7px;
    padding: 0px;
    overflow: hidden;
    }

#searchinput {
    float: left;
    width: 226px;
    color: #888;
    margin: 0 0px 0 0;
    border: none;
    padding: 10px 12px;
    outline: medium none;
    }

#search-button {
vertical-align: middle;
    float: right;
    width: 40px;
    color: #fff;
    margin: 0;
    cursor: pointer;
    border: none;
    padding: 9px;
	border-radius:3px;
    }
	
#search-button:hover {
background: #000;
    }

#footer #searchform {
    background: none;
    margin-bottom: 19px;
    padding: 0px;
    }

#footer #searchinput {
    float: left;
    width: 173px;
    color: #888;
    margin: 0 8px 0 0;
    border: none;
    padding: 6px 8px;
    }

#footer #search-button {
    vertical-align: middle;
    float: right;
    width: 40px;
    color: #fff;
    margin: 0;
    cursor: pointer;
    border: none;
    padding: 5px;
    }
	
/* -------------------------------------------
    07. FOOTER & SOCIAL MEDIA
   ------------------------------------------- */
   
/* --- footer --- */

#footer {
    width: 1015px;
	margin: 0px auto 0px auto;
	background:url("images/bg-trans.png");
	padding: 20px 20px 0px 20px;
    }

.footer-row {
    padding-left: 0px;
	width:1040px;
    }
	
.footer-col {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: left;
    width: 239px;
    color: #fff;
    }

.footer-col h4 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
	margin-bottom: -30px;
	color: #fff;
    }

.footer-widget { 
    margin-bottom: 20px;
    }

#footer-bottom {
    margin-left: 0px;
    width: 1055px;
    color: #eee;
    padding: 19px 0px 35px 0px;
    font-size: 15px;
	margin: 0px auto 0px auto;
	background:url("images/menu-footer.png");
    }

.footer-bottom-copyright { float: left;  padding-left: 20px;}

.footer-bottom-social {
    margin-top: -9px;
    padding-right: 5px;
    float: right;
    }
	
.footer-ls {
	text-align:center;
	background:url("images/menu-footer.png");
	margin: 0px auto 0px auto;
	width:1055px;
	padding:15px 0px 20px 0px;
	border-top:0px dashed #1b1b1b;
	}

#footer-ls-col {
	width:800px;
	margin: 0px auto 0px auto;
}
	
/* --- social media --- */

#footer-ls-col .facebook:hover, #footer-ls-col .lastfm:hover, #footer-ls-col .flickr:hover, #footer-ls-col .digg:hover, #footer-ls-col .vk:hover, #footer-ls-col .google:hover, #footer-ls-col .pinterest:hover, #footer-ls-col .amazon:hover, #footer-ls-col .mixcloud:hover, #footer-ls-col .soundcloud:hover, #footer-ls-col .instagram:hover, #footer-ls-col .tumblr:hover, #footer-ls-col .resident:hover, #footer-ls-col .twitter:hover, #footer-ls-col .vimeo:hover, #footer-ls-col .beatport:hover, #footer-ls-col .youtube:hover, #footer-ls-col .myspace:hover  {
    opacity:0.5;
    }
	
#footer-ls-col .facebook  {
    background: url("images/social/logo/facebook.png") no-repeat left;
	width:120px;
	height:30px;
	display:inline-block;
	margin-top:5px;
	margin-top:10px;
    }
		
#footer-ls-col .google  {
    background: url("images/social/logo/google.png") no-repeat left;
	width:99px;
	height:30px;
	display:inline-block;
	margin-top:5px;
	margin-top:10px;
    }
	
#footer-ls-col .vk  {
    background: url("images/social/logo/vk.png") no-repeat left;
	width:62px;
	height:30px;
	display:inline-block;
	margin-top:5px;
	margin-top:10px;
    }
	
#footer-ls-col .lastfm {
    background: url("images/social/logo/lastfm.png") no-repeat left;
	width:85px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }

#footer-ls-col .mixcloud {
    background: url("images/social/logo/mixcloud.png") no-repeat left;
	width:143px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }

#footer-ls-col .soundcloud {
    background: url("images/social/logo/soundcloud.png") no-repeat left;
	width:63px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }

#footer-ls-col .twitter {
    background: url("images/social/logo/twitter.png") no-repeat left;
	width:92px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }

#footer-ls-col .vimeo {
    background: url("images/social/logo/vimeo.png") no-repeat left;
	width:85px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }

#footer-ls-col .beatport {
    background: url("images/social/logo/beatport.png") no-repeat left;
	width:120px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }	
	
#footer-ls-col .youtube {
    background: url("images/social/logo/youtube.png") no-repeat left;
	width:71px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .myspace {
    background: url("images/social/logo/myspace.png") no-repeat left;
	width:92px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .amazon {
    background: url("images/social/logo/amazon.png") no-repeat left;
	width:76px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .pinterest {
    background: url("images/social/logo/pinterest.png") no-repeat left;
	width:86px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .flickr {
    background: url("images/social/logo/flickr.png") no-repeat left;
	width:90px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .digg {
    background: url("images/social/logo/digg.png") no-repeat left;
	width:50px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .instagram {
    background: url("images/social/logo/instagram.png") no-repeat left;
	width:85px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .soundcloud {
    background: url("images/social/logo/soundcloud.png") no-repeat left;
	width:68px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .mixcloud {
    background: url("images/social/logo/mixcloud.png") no-repeat left;
	width:166px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .tumblr {
    background: url("images/social/logo/tumblr.png") no-repeat left;
	width:130px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }
	
#footer-ls-col .resident {
    background: url("images/social/logo/resident.png") no-repeat left;
	width:83px;
	height:30px;
	display:inline-block;
	margin-top:10px;
    }

#header-social {
    margin-bottom: -9px;
    float: right;
    }

#footer-social {
    margin-bottom: -9px;
    float: right;
	margin-top:-2px;
    }
	
#footer-social li.facebook a {
    background: url("images/social/icon/facebook.png") no-repeat left 
    }

#footer-social li.facebook a:hover { 
    background: #3b5998 url("images/social/icon/facebook.png") no-repeat left 
    }

#footer-social li.flickr1 a {
    background: url("images/social/icon/flickr.png") no-repeat left 
    }

#footer-social li.flickr1 a:hover {
    background: #ff0084 url("images/social/icon/flickr.png") no-repeat left 
    }

#footer-social li.youtube a {
    background: url("images/social/icon/youtube.png") no-repeat left 
    }

#footer-social li.youtube a:hover {
    background: #ff3132 url("images/social/icon/youtube.png") no-repeat left 
    }

#footer-social li.twitter a {
    background: url("images/social/icon/twitter.png") no-repeat left 
    }

#footer-social li.twitter a:hover {
    background: #2daae1 url("images/social/icon/twitter.png") no-repeat left 
    }

#footer-social li.vimeo a {
    background: url("images/social/icon/vimeo.png") no-repeat left 
    }

#footer-social li.vimeo a:hover {
    background: #44b0de url("images/social/icon/vimeo.png") no-repeat left 
    }

#footer-social li.digg a {
    background: url("images/social/icon/digg.png") no-repeat left 
    }

#footer-social li.digg a:hover {
    background: #1b5791 url("images/social/icon/digg.png") no-repeat left 
    }
	
#footer-social li.vk a {
    background: url("images/social/icon/vk.png") no-repeat left 
    }

#footer-social li.vk a:hover {
    background: #476a91 url("images/social/icon/vk.png") no-repeat left 
    }
	
#footer-social li.google a {
    background: url("images/social/icon/google.png") no-repeat left 
    }

#footer-social li.google a:hover {
    background: #dc4937 url("images/social/icon/google.png") no-repeat left 
    }
	
#footer-social li.rss  a {
    background: url("images/social/icon/rss.png") no-repeat left 
    }

#footer-social li.rss a:hover { 
    background: #f2861d url("images/social/icon/rss.png") no-repeat left 
    }
	
#footer-social li.lastfm a {
    background: url("images/social/icon/lastfm.png") no-repeat left 
    }

#footer-social li.lastfm a:hover { 
    background: #cb2027 url("images/social/icon/lastfm.png") no-repeat left 
    }

#footer-social li.pinterest a {
    background: url("images/social/icon/pinterest.png") no-repeat left 
    }

#footer-social li.pinterest a:hover { 
    background: #cb2027 url("images/social/icon/pinterest.png") no-repeat left 
    }
	
#footer-social li.amazon a {
    background: url("images/social/icon/amazon.png") no-repeat left 
    }

#footer-social li.amazon a:hover { 
    background: #ff9900 url("images/social/icon/amazon.png") no-repeat left 
    }
	
#footer-social li.beatport a {
    background: url("images/social/icon/beatport.png") no-repeat left 
    }

#footer-social li.beatport a:hover { 
    background: #a8e00f url("images/social/icon/beatport.png") no-repeat left 
    }
	
#footer-social li.myspace a {
    background: url("images/social/icon/myspace.png") no-repeat left 
    }

#footer-social li.myspace a:hover { 
    background: #008dde url("images/social/icon/myspace.png") no-repeat left 
    }
	
#footer-social li.instagram a {
    background: url("images/social/icon/instagram.png") no-repeat left 
    }

#footer-social li.instagram a:hover { 
    background: #3f6f94 url("images/social/icon/instagram.png") no-repeat left 
    }
	
#footer-social li.soundcloud a {
    background: url("images/social/icon/soundcloud.png") no-repeat left 
    }

#footer-social li.soundcloud a:hover { 
    background: #ff5600 url("images/social/icon/soundcloud.png") no-repeat left 
    }
	
#footer-social li.mixcloud a {
    background: url("images/social/icon/mixcloud.png") no-repeat left 
    }

#footer-social li.mixcloud a:hover { 
    background: #6bdbf9 url("images/social/icon/mixcloud.png") no-repeat left 
    }
	
#footer-social li.tumblr a {
    background: url("images/social/icon/tumblr.png") no-repeat left 
    }

#footer-social li.tumblr a:hover { 
    background: #35506b url("images/social/icon/tumblr.png") no-repeat left 
    }
	
#footer-social li.resident a {
    background: url("images/social/icon/resident.png") no-repeat left 
    }

#footer-social li.resident a:hover { 
    background: #dada00 url("images/social/icon/resident.png") no-repeat left 
    }
	
#footer-social li {
    list-style: none;
    float: left;
    }

#footer-social li a {
    list-style: none;
    text-aling: center;
    float: left;
    width: 39px;
    height: 39px;
    margin: 0px 0px 0px 5px;
    }
	
	
/* -------------------------------------------
    08. PAGINATION
   ------------------------------------------- */

.pagination-bottom-media {
	width:1015px;
	float:left;
	margin:0px auto;
	margin-bottom:0px;
	margin-top:5px;
    }  
    
.pagination-bottom {
	width:695px;
	float:left;
	margin:0px auto;
	margin-bottom:30px;
    }

.pagination-pos {
	display:inline-block;
	padding:10px 0px 0px 0px;
	}

.pagination { 
    font-size: 16px; 
	margin-right:-5px;
    }

.pagination .current {
    color: #000;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
	background:#fff;
    }

.pagination span, .pagination a {
    text-decoration: none;
    float: left;
    width: auto;
    color: #fff;
    margin: 5px 5px 5px 0;
    display: block;
    padding: 10px 15px 10px 15px;
    }
	
.pagination a:hover {
	color:#000;
	background:#fff;
	}
	
/* -------------------------------------------
    09. PLAYER
   ------------------------------------------- */

ul.fap-my-playlist {
    color: #888;
    font-size: 36px;
    }

ul.fap-my-playlist li.selected {
    height: 31px;
    padding: 5px 0px 5px 46px;
    color: #bbb;
    font-size: 20px;
    background: #f7f7f7 url("images/player/player-selected-sng.png") no-repeat;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 600;
    list-style-type: none;
    }

ul.fap-my-playlist li.selected:hover { background: #f7f7f7 url("images/player/player-selected-sng.png") no-repeat }

ul.fap-my-playlist li {
    line-height: 31px;
    padding: 5px 0px 5px 10px;
    color: #bbb;
    font-size: 18px;
    background: #eee;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 600;
    list-style-type: decimal-leading-zero;
    border-left: 3px solid #bbb;
    border-bottom: 0px solid #bbb;
    }

ul.fap-my-playlist li a {
    color: #1b1b1b;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 4px;
    width: 650px;
    height: 37px;
    }

.widgets-col-player {
    overflow: hidden;
	color:#1b1b1b;
    }
	
.widgets-col-player ul.fap-my-playlist { margin-top: 98px }

.widgets-col-player ul.fap-my-playlist li {
    line-height: 30px;
    padding: 2px 0px 2px 10px;
    color: #bbb;
    font-size: 13px;
    background: #eee;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    font-weight: 600;
    list-style-type: decimal;
    border-left: 0px solid #bbb;
    border-bottom: 0px solid #bbb;
    position: relative;
    }

.widgets-col-player ul.fap-my-playlist li:last-child { margin-bottom: 18px }

ul.fap-my-playlist li:hover, .widgets-col-player ul.fap-my-playlist li:hover { background: #f7f7f7 }

.widgets-col-player ul.fap-my-playlist li a:hover { color: #1b1b1b }

.widgets-col-player ul.fap-my-playlist li.selected {
    height: 30px;
    padding: 2px 0px 2px 28px;
    background: #f7f7f7 url("images/player/player-selected-wdg.png") no-repeat;
    list-style-type: none;
    border-left: 0px solid #bbb;
    }

.widgets-col-player ul.fap-my-playlist li:hover { border-left: 0px solid #bbb }

.widgets-col-player ul.fap-my-playlist li a {
    margin-top: -4px;
    color: #1b1b1b;
    font-weight: 400;
    font-size: 13px;
    position: absolute;
    width: 242px;
    height: 32px;
    overflow: hidden;
    padding: 2px 0px 0px 0px;
    }

#footer .widgets-col-player { display: none }


/* -------------------------------------------
    10. COMMENTS
   ------------------------------------------- */

#comment {
    border: 1px solid #bbb;
    padding: 0 0 0 5px;
    }

#author {
    border: 1px solid #bbb;
    }

#email {
    border: 1px solid #bbb;
    }

#url {
    border: 1px solid #bbb;
    }

.comment-form-author label {
    margin-bottom: 20px; 
    }

#comments {
    clear: both;
	margin-top:-15px;
    }

#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px; 
    }

#comments .comment-body p:last-child { 
    margin-bottom: 12px; 
    }

#comments .comment-body ul, #comments .comment-body ol {
    margin-bottom: 18px; 
    }

#comments ol li.comment {
    margin: 0 0 10px;
    padding: 0px;
    position: relative;
    }

#comments .navigation {
    padding: 0 0 18px; 
    }

#comments .pingback {
    margin-bottom: 18px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 18px;
    }

#comments .pingback .url {
    font-style: italic;
    font-size: 12px;
    }

#comments .pingback p {
    line-height: 12px;
    color: #888;
    margin: 0;
    display: block;
    font-size: 12px;
    }

h3#comments-title {
    font-weight: 400;
    margin-bottom: 0px;
    padding: 10px 0px;
    font-size: 22px;
    }

h3#reply-title {
    font-weight: 400;
    margin: 10px 0;
    font-size: 22px;
      }
	  
li.comment > div {
	background:#eee;
}	  
	  
.commentlist {
    list-style: none;
    margin: 0;
    }

.commentlist li.comment+li.pingback {
    margin-top: -6px; 
    }

.commentlist li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    }

.commentlist .children { 
    list-style: none; 
    }

.commentlist .children li {
    margin: 0;
    border: none;
    }

.commentlist .avatar {
    margin-right: 8px;
    top: 0;
    left: 0;
    float: left;
    width: 40px;
    height: 40px;
    }

.commentlist ol { 
    list-style: decimal;
    }

.comment-author cite {
    font-weight: 600;
    font-size: 16px;
    }

.comment-meta {
    font-weight: 400;
    line-height: 50px;
    margin: -16px 0 -4px;
    font-size: 12px;
    }

.comment-meta a:link, .comment-meta a:visited {
    text-decoration: none;
    color: #888;
    }

a.comment-edit-link {
    color: #888;
    }

.reply {
    margin-top: -22px;
    float: right;
    }

.reply a {
    text-transform: uppercase;
    color: #fff;
    padding: 5px 8px 5px 8px;
    font-size: 12px;
	border-radius:2px;
    }
	
.reply a:hover {
background:#1b1b1b;
}

.nopassword, .nocomments { 
    display: none;
    }

#respond {
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    }

#respond .form-allowed-tags {
    margin-top: 10px;
    background: #f3f3f3;
    line-height: 18px;
    color: #888;
    padding: 10px;
    font-size: 14px;
    }

#respond .form-allowed-tags code {
    font-size: 14px;
    }

#respond .comment-notes { 
    margin-bottom: 1em; 
    }

#respond .form-submit {
    margin-bottom: 1px; 
	margin-top: -2px; 
    }

#respond .form-submit input {
    width: auto;
    font-size: 14px;
    }

#respond .required {
    font-weight: bold;
    color: #1b1b1b;
    }

#respond textarea { 
    width: 99%;
    }

#respond label { 
    font-size: 16px;
    }

#respond input {
    width: 98%;
    margin: 0 0 9px;
    }

.form-allowed-tags { 
    line-height: 1em; 
    }

.children #respond {
    margin-top: 10px;
    margin-bottom: 20px;
    }

#cancel-comment-reply-link {
    font-weight: normal;
    line-height: 18px;
    font-size: 12px;
    }

ul.children { 
    list-style-type: none;
    }

ul.children li { 
    list-style-type: none;
    }

form#commentform input {
    margin-top: 5px;
    padding: 7px;
    }

p.comment-form-author, p.comment-form-email, p.comment-form-url {
    width: 50%;
    }

p.form-submit input#submit {
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 6px 8px 6px 8px;
    outline: none;
	border-radius:3px;
    }
	
p.form-submit input#submit:hover {
background: #000;
}

ol.commentlist { 
    margin-right: 0px;
    }

ul.children {
    margin-top: 10px;
    background: url("images/com-children.png") no-repeat;
    background-position: 5px 0px;
    padding: 0px 0px 0px 50px;
    }

li.comment > div {
    padding: 10px 10px;
    }

p.logged-in-as { 
    font-size: 16px;
    }
	
/* -------------------------------------------
    11. CONTACT
   ------------------------------------------- */

#commentsText {
	padding: 0 0 0 5px;
    border: 1px solid #bbb;
    }

form#contact input {
    border: 1px solid #bbb;
    padding: 5px;
    }

.button-send#submitmail {
    border: none;
    cursor: pointer;
    padding: 6px 8px 6px 8px;
    outline: none;
	border-radius:3px;
	text-transform: uppercase;
	color:#fff;
	margin-bottom:15px;
	margin-top:5px;
    }
	
.button-send#submitmail:hover {
	background:#000;
	}

/* -------------------------------------------
    12. WORDPRESS CORE
   ------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
    }

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
    }

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
    }

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    }

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
    }

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    }

a img.alignnone {
    margin: 5px 20px 20px 0;
    }

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    }

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
    }

.sticky {}
.gallery-caption {}
.bypostauthor {}

.wp-caption {
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
    }

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
    }

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
    }

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
    }

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
    }

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
    }
	
#shiftnav-toggle-main { display: none }

.shiftnav-menu li a:hover { background: #18CECF !important }

.selectnav { display: none; }

#btn-menu {
    background: #fff;
    text-align: center;
    color: #333;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 0;
    display: none;
	}