{% extends 'layout.html' %}
{% block main_content%}
	<div class="col-left-media">	
	<div class="title-head"><h1>Recent Posts</h1></div>
		<div class="bl2page clearfix">
			<div class="bl2page-col"><h2 class="bl2page-title"><a href="http://wtsq.org/wtsq-program-guide/">WTSQ Program Guide</a></h2><div class="bl2page-text cvc-wtsq"><p><a href="http://wtsq.org/wp-content/uploads/2016/04/June-2017-Grid.jpg"><img class="alignnone wp-image-553 " src="http://wtsq.org/wp-content/uploads/2016/04/June-2017-Grid-1024x575.jpg" alt="" width="671" height="377" srcset="http://wtsq.org/wp-content/uploads/2016/04/June-2017-Grid-1024x575.jpg 1024w, http://wtsq.org/wp-content/uploads/2016/04/June-2017-Grid-300x169.jpg 300w, http://wtsq.org/wp-content/uploads/2016/04/June-2017-Grid-768x432.jpg 768w, http://wtsq.org/wp-content/uploads/2016/04/June-2017-Grid-950x534.jpg 950w" sizes="(max-width: 671px) 100vw, 671px" /></a></p>
<p><a href="http://wtsq.org/wp-content/uploads/2016/04/June-2017-Grid.jpg" target="_blank" rel="noopener"><span style="color: #0000ff;">Click to enlarge</span></a></p>
<p><strong>New Shows June 2017:</strong><br />
Monday-Friday 10am &#8211; Noon Morning Mix with Mya<br />
Monday 8pm &#8211; 9pm Beats without Borders (new times slot!)<br />
Wednesday 6pm &#8211; 8pm Sit &#8216;n Spin with Mike Pushkin (new time slot!)<br />
Wednesday 8pm &#8211; 9pm Freak Show<br />
Wednesday 11pm &#8211; 1am Clarity<br />
Friday Live On The Levee (Live broadcast of Levee performances all summer long!)<br />
Friday 9pm &#8211; 11pm Attention Please<br />
Saturday 8pm &#8211; 10pm Welcome The Night (now a 2 hour performance!)<br />
Saturday Midnight &#8211; 1am Radio Smut</p>
<p><strong>New Shows 9-5-2016:</strong><br />
Sunday 1pm-2pm <span style="text-decoration: underline;"><a href="https://www.facebook.com/rockabillynbluesrecords/" target="_blank" rel="noopener">Rockabilly N Blues Radio Hour</a></span><br />
Sunday 5pm-6pm <span style="text-decoration: underline;"><a href="https://www.facebook.com/troprockwithsailorrob" target="_blank" rel="noopener">Trop Rock with Sailor Rob</a></span><br />
Wednesday 6pm-7pm Generation Why?<br />
Saturday 6am-8am <span style="text-decoration: underline;"><a href="https://www.facebook.com/wanderingminstrelsradio/" target="_blank" rel="noopener">Folk Music</a></span><br />
Saturday 8am-9am Bringing Sexy Bach<br />
Saturday 11am-12pm Home Grown<br />
Saturday 4pm-6pm <span style="text-decoration: underline;"><a href="https://www.facebook.com/TheAntiHour" target="_blank" rel="noopener">The Anti-Hour</a></span><br />
Saturday 9pm-10pm Welcome The Night</p>
</div>
				<div class="bl2page-info">
					<p class="bl2page-user">Chris Long</p> 
					<p class="bl2page-date">April 9th, 2016</p> 
					<p class="bl2page-comment">5 comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col"><h2 class="bl2page-title"><a href="http://wtsq.org/noise-brigade-september-4-2017/">Noise Brigade &#8211; September 4, 2017</a></h2><div class="bl2page-text cvc-wtsq"><p> Download Episode 001 here. Download the episode podcast from iTunes. SHOW NOTES MxPx &#8211; Chick Magnet Album &#8211; Life in General 2.0 &#8211; 2017. Remastered 1995 album Request &#8211; Steve Osbourne: The Mighty Mighty Bosstones &#8211; Someday I Suppose. Theme song  ...</p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Steven Allen Adams</p> 
					<p class="bl2page-date">September 4th, 2017</p> 
					<p class="bl2page-comment">No comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col"><h2 class="bl2page-title"><a href="http://wtsq.org/big-news-noise-brigade-returns-to-wtsq-monday-september-4th-at-4-p-m/">BIG NEWS: Noise Brigade Returns to WTSQ Monday, September 4th. at 4 p.m.</a></h2><div class="bl2page-text cvc-wtsq"><p>BIG NEWS: Your long national nightmare will soon be over! Noise Brigade w/ Steven Allen Adams is returning to the line-up on WTSQ 88.1FM &#8211; The Status Quo starting Monday. Sept. 4th. at 7 p.m. You&#8217;ll be able to catch the show every Monday at 7 p.m. after that. All </p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Steven Allen Adams</p> 
					<p class="bl2page-date">July 22nd, 2017</p> 
					<p class="bl2page-comment">No comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col"><h2 class="bl2page-title"><a href="http://wtsq.org/wtsq-2nd-anniversary-party/">WTSQ 2nd Anniversary Party</a></h2><div class="bl2page-text cvc-wtsq"><p> WTSQ&#8217;s 2nd anniversary party @ The Clay Center Sculpture Garden. *** PRESALE TICKETS AVAILABLE @ WILL CALL DAY OF EVENT *** Saturday, July 15th.  Doors open @ 2pm. All day event of local &amp; regional music, Esty artisans, local brews &amp; food. Etsy: Over 25 local  ...</p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Chris Long</p> 
					<p class="bl2page-date">May 15th, 2017</p> 
					<p class="bl2page-comment">No comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col"><h2 class="bl2page-title"><a href="http://wtsq.org/five-albums-that-turned-me-on-to-metal-music/">Five Albums That Turned Me on To Metal Music</a></h2><div class="bl2page-text cvc-wtsq"><p> Just Press Play article courtesy of Charleston Gazette-Mail &amp; Bill Lynch By Harry Glaspell, Host of Harry&#8217;s Heavy Metal Haven Led Zeppelin – IV In my humble opinion Led Zeppelin is the greatest band in the history of music. This is one those albums that shaped my  ...</p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Harry Glaspell</p> 
					<p class="bl2page-date">May 5th, 2017</p> 
					<p class="bl2page-comment">11 comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col"><h2 class="bl2page-title"><a href="http://wtsq.org/wtsq-cinco-de-mayo-event/">WTSQ Cinco de Mayo Event</a></h2><div class="bl2page-text cvc-wtsq"><p>&nbsp; Cinco de Mayo Block Party Celebration POSTPONED due to inclement weather.   Rescheduling of event &amp; details to follow.</p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Chris Long</p> 
					<p class="bl2page-date">May 2nd, 2017</p> 
					<p class="bl2page-comment">No comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col"><h2 class="bl2page-title"><a href="http://wtsq.org/noise-brigade-coming-back-stay-tuned/">Noise Brigade Coming Back? Stay Tuned&#8230;</a></h2><div class="bl2page-text cvc-wtsq"><p> Hello friends and lovers, as you know I ended my ska show Noise Brigade. I had my reasons at the time. Seemed a good idea at the time. No need to run through the reasons in my head, but I had felt the show had ran its course. It wasn&#8217;t until the show ended, however,  ...</p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Steven Allen Adams</p> 
					<p class="bl2page-date">April 15th, 2017</p> 
					<p class="bl2page-comment">No comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col"><h2 class="bl2page-title"><a href="http://wtsq.org/thank-you-charleston/">Thank You, Charleston!</a></h2><div class="bl2page-text cvc-wtsq"><p></p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Chris Long</p> 
					<p class="bl2page-date">April 9th, 2017</p> 
					<p class="bl2page-comment">No comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col"><h2 class="bl2page-title"><a href="http://wtsq.org/click-to-donate/">2017 Fund Drive &#8211; Click Graphic to Donate!</a></h2><div class="bl2page-text cvc-wtsq"><p> WTSQ is more than a radio station. We are a hub for the talent and creativity in our community. We serve Charleston, West Virginia and the greater Kanawha Valley with independent music curated and hosted by fifty passionate volunteers. We&#8217;ve been on the air for a  ...</p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Laura Allen</p> 
					<p class="bl2page-date">March 30th, 2017</p> 
					<p class="bl2page-comment">No comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col">
				<div class="bl2page-cover">
					<div class="wz-wrap wz-hover">
						<img src="http://wtsq.org/wp-content/uploads/2017/02/NOISE-BRIGADE-BLOG-1-250x200.png" alt="Boulevard Tavern Addiction Awareness Benefit Around the Corner" />
							<div class="he-view">
								<div class="bg a0" data-animate="fadeIn">
									<a href="http://wtsq.org/boulevard-tavern-addiction-awareness-benefit-around-the-corner/" class="bl2page-link a2" data-animate="zoomIn"></a>
									<a href="http://wtsq.org/wp-content/uploads/2017/02/NOISE-BRIGADE-BLOG-1.png" class="bl2page-zoom a2" data-animate="zoomIn" data-rel="prettyPhoto-cover"></a>	
								</div>
							</div>	  
					</div> 
				</div><!-- end .blog-home-cover --> <h2 class="bl2page-title"><a href="http://wtsq.org/boulevard-tavern-addiction-awareness-benefit-around-the-corner/">Boulevard Tavern Addiction Awareness Benefit Around the Corner</a></h2><div class="bl2page-text cvc-wtsq"><p> Just a friendly reminder that the Addiction Awareness Benefit concert at the Boulevard Tavern is less than two weeks away. Tonight&#8217;s show will be normal, but a week from today we&#8217;ll have member of 69 Fingers on again via phone, as well as (hopefully) other  ...</p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Steven Allen Adams</p> 
					<p class="bl2page-date">February 20th, 2017</p> 
					<p class="bl2page-comment">No comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
			<div class="bl2page-col">
				<div class="bl2page-cover">
					<div class="wz-wrap wz-hover">
						<img src="http://wtsq.org/wp-content/uploads/2017/01/NOISE-BRIGADE-BLOG-250x200.jpg" alt="My First Post (With Actual News)" />
							<div class="he-view">
								<div class="bg a0" data-animate="fadeIn">
									<a href="http://wtsq.org/my-first-post/" class="bl2page-link a2" data-animate="zoomIn"></a>
									<a href="http://wtsq.org/wp-content/uploads/2017/01/NOISE-BRIGADE-BLOG.jpg" class="bl2page-zoom a2" data-animate="zoomIn" data-rel="prettyPhoto-cover"></a>	
								</div>
							</div>	  
					</div> 
				</div><!-- end .blog-home-cover --> <h2 class="bl2page-title"><a href="http://wtsq.org/my-first-post/">My First Post (With Actual News)</a></h2><div class="bl2page-text cvc-wtsq"><p> Hey ya&#8217;ll, looks like my blog section finally works. Woo hoo! This is solely just to test out the functionality. But hell, while I&#8217;m here I hope you listened to the show Monday, January 30th.&nbsp; We had on Steve and Brian from the 69 Fingers, a former hometown  ...</p></div>
				<div class="bl2page-info">
					<p class="bl2page-user">Steven Allen Adams</p> 
					<p class="bl2page-date">January 30th, 2017</p> 
					<p class="bl2page-comment">No comments</p>  
				</div><!-- end .blog-home-info -->
			</div><!-- end .blog-home -->  
	<div class="pagination-bottom">
	<div class="pagination-pos"><div class="pagination"><span class="current">1</span><a href='http://wtsq.org/page/2/' class="inactive">2</a></div>
	
    </div>
    </div><!-- end .pagination-pos -->						
		</div><!-- end .bl2page clearfix -->   			 
	</div>
	<div class="sidebar-right">
  <div id="text-11" class="widget list-nav widget_text">
    <div class="sidebarnav"><h3>NEW STREAM LINKS!</h3></div>			<div class="textwidget"><div id="cc_tunein">
	<a href="https://control.internet-radio.com:2199/tunein/wtsq881.pls"><img align="absmiddle" src="https://control.internet-radio.com:2199/system/images/tunein-pls.png" border="0" alt="Winamp, iTunes" title="Winamp, iTunes" /></a>
	<a href="https://control.internet-radio.com:2199/tunein/wtsq881.asx"><img align="absmiddle" src="https://control.internet-radio.com:2199/system/images/tunein-asx.png" border="0" alt="Windows Media Player" title="Windows Media Player" /></a>
	<a href="https://control.internet-radio.com:2199/tunein/wtsq881.ram"><img align="absmiddle" src="https://control.internet-radio.com:2199/system/images/tunein-ram.png" border="0" alt="Real Player" title="Real Player" /></a>
	<a href="https://control.internet-radio.com:2199/tunein/wtsq881.qtl"><img align="absmiddle" src="https://control.internet-radio.com:2199/system/images/tunein-qtl.png" border="0" alt="QuickTime" title="QuickTime" /></a>
	<a href="http://45.79.186.124/stream/wtsq881.pls?mp=/stream"><img align="absmiddle" src="https://control.internet-radio.com:2199/system/images/tunein-web.png" border="0" alt="Web Proxy" title="Web Proxy" /></a>
</div>
</div>
		
  </div><br/><div class="plate-bg dark-bg"><div id="plate3_1"></div></div><script type="text/javascript">jQuery("#plate3_1").plate([{"title":false,"artist":false,"cover":false,"file":"http:\/\/stream.wtsq.org:8380\/live","buyLink":false}], {"phpGetter":"\/wp-admin\/admin-ajax.php?action=stream","playlist":[{"title":false,"artist":false,"cover":false,"file":"http:\/\/stream.wtsq.org:8380\/live","buyLink":false}],"controls":["trackInfo","speed","volume","play","buyButton","trackName","pause"],"coverEffects":["opacity"],"coverAnimSpeed":300,"skin":"dark","width":"200","playlistHeight":"140","plateDJ":true,"changeTrackChangePlate":true,"onStart":{"pause":true,"repeat":false,"random":false,"volume":50,"speed":1},"useCookies":false,"preloadFirstTrack":true,"autostart":false,"random":false,"unknownTitleText":"WTSQ","unknownArtistText":"Stream","imagesFolder":"http:\/\/wtsq.org\/wp-content\/plugins\/plate_3\/includes\/plate_3\/img\/","flash_path":"http:\/\/wtsq.org\/wp-content\/plugins\/plate_3\/includes\/plate_3\/swf\/","kuzenko_API_url":"\/?plateapiaction=1","kuzenko_API_key":"","lastFM_API_url":"http:\/\/ws.audioscrobbler.com\/2.0\/","lastFM_API_key":"645753db26e26465663a7be06260b60c","components":["trackInfo","speed","volume","play","buyButton","trackName","pause"],"wpPlayerId":1});</script>
  <div id="text-7" class="widget list-nav widget_text">
    <div class="sidebarnav"><h3>WTSQ Playlist</h3></div>			<div class="textwidget"><div id="cc_recenttracks_wtsq881" class="cc_recenttracks_list">Loading ...</div>
<script language="javascript" type="text/javascript" src="https://control.internet-radio.com:2199/system/recenttracks.js"></script></div>
		
  </div><br/>		
  <div id="recent-posts-2" class="widget list-nav widget_recent_entries">		
    <div class="sidebarnav"><h3>Recent Posts</h3></div>		<ul>
					<li>
				<a href="http://wtsq.org/noise-brigade-september-4-2017/">Noise Brigade &#8211; September 4, 2017</a>
						</li>
					<li>
				<a href="http://wtsq.org/big-news-noise-brigade-returns-to-wtsq-monday-september-4th-at-4-p-m/">BIG NEWS: Noise Brigade Returns to WTSQ Monday, September 4th. at 4 p.m.</a>
						</li>
					<li>
				<a href="http://wtsq.org/wtsq-2nd-anniversary-party/">WTSQ 2nd Anniversary Party</a>
						</li>
					<li>
				<a href="http://wtsq.org/five-albums-that-turned-me-on-to-metal-music/">Five Albums That Turned Me on To Metal Music</a>
						</li>
					<li>
				<a href="http://wtsq.org/wtsq-cinco-de-mayo-event/">WTSQ Cinco de Mayo Event</a>
						</li>
				</ul>
		
  </div><br/>		
  <div id="shortcode-widget-2" class="widget list-nav shortcode_widget">
    <div class="sidebarnav"><h3>Recent Photos</h3></div>			<div class="textwidget"></div>
		
  </div><br/>
  <div id="categories-2" class="widget list-nav widget_categories">
    <div class="sidebarnav"><h3>Categories</h3></div>		<ul>
	<li class="cat-item cat-item-2"><a href="http://wtsq.org/category/status-quo-news/" >Status Quo News</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://wtsq.org/category/uncategorized/" >Uncategorized</a>
</li>
		</ul>

  </div><br/>
	</div><!-- end .sidebar-right -->